<section id="sk" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Mechanika robota</h2>
      <p>Mechanická časť robota pozostáva zo 3 statických a 1 otočného poschodia. Poschodia slúžia na upevnenie potrebnej elektriniky a senzorov. Celého robota sme nadesignovali v programe Fusion360 a každý diel bol pred vyrobením odsimulovaný a až po úspešnej simulácii vyrobený. Tento postup obmedzil počet dielov ktoré počas <a href="#testovanie" class="btn-learn-more scrollto">testovania robota</a> zlyhali.</p>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <h4><a href="">Všesmerový podvozok</a></h4>
          <p>Všesmerový podvozok zložený z omni-wheel kolies umiestnených po obvode,
            nami navrhnuté upevnenie kolies na osku motora 3D tlačenými nalisovanými valčekmi, držiak motora
            navrhnutý pre zachovanie minimálnej svetlosti a tak zachovanie stability robota.</p>
          <img class="img-fluid rounded" src="img/komponenty/vsesmerovy.png" alt="">
          <img class="img-fluid rounded" src="img/komponenty/omni.png" alt="">
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <h4><a href="">Poschodia robota</a></h4>
          <p>Montážne poschodia ako modulárne platformy s možnosťou zameniteľnosti
            komponentov na nich, distančné stĺpiky spájajúce poschodia robota pre dosiahnutie pevnosti
            a stability robota.</p>
          <img class="img-fluid rounded mt-5" src="img/komponenty/poschodia.jpg" alt="">
          <img class="img-fluid rounded" src="img/komponenty/.png" alt="">
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <h4><a href="">Otočná platforma</a></h4>
          <p>Jedinečná otočná platforma robota so zabudovaným slipringom (krúžkovým
            zberačom) poháňaná N20 motorom s enkodérom remeňovým prevodom. Samotná platforma má
            množstvo montážnych dier pre doplnenie komponentov a zachovanie modulárnosti.</p>
            <img class="img-fluid rounded mt-5" src="img/komponenty/otocna.jpg" alt="">
            <img class="img-fluid rounded" src="img/komponenty/otocna2.jpg" alt="">
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <h4><a href="">Materiál</a></h4>
          <p>Vhodne zvolený materiál poschodí – textit a kuprextit, pre ich pevnosť a malú pružnosť,
            vyrobených pomocou CNC frézy. Viaceré komponenty vytlačené na 3D tlačiarni pre ich postačujúcu
            pevnosť, nízku hmotnosť a vhodnú pružnosť (hlavne pri senzoroch nárazu). Komponenty prešli
            viacerými simuláciami, kde sa testoval ich tvar a vhodnosť materiálu.</p>
          <img class="img-fluid rounded" src="img/komponenty/drziakmotoru.png" alt="">
          <img class="img-fluid rounded" src="img/komponenty/drziakmotoru2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
